body{
	margin: 0;
	outline: 1px solid red;
	overflow: hidden;
}
canvas{
	position: relative;
	background: #eee;
	outline: 1px solid red;
	box-sizing: border-box;
}
canvas.pencil{
	cursor: url("https://png.icons8.com/edit/win10/30/000000"), default;
}
canvas.pen{
	cursor: url("https://png.icons8.com/pen/win10/30/000000"), default;
}
canvas.eraser{
	cursor: url("https://png.icons8.com/erase/win8/30/000000"), default;
}
aside{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 999;
	outline: 1px solid red;
}